@import url('https://fonts.googleapis.com/css2?family=Hack&display=swap');

.App {
  text-align: center;
  background-color: black; /* Updated background color to black */
  font-family: 'Hack', monospace; /* Updated font family to Hack */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: silver; 
}

.cta-button {
  background-color: #ff6600;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.tokenInfo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.startMessage{
  display: flex;
  justify-content: center;
  align-items: center;
}

.token-text{
  color: white;
  font-size: 0.7rem;
  padding-left: 10px;
}

.start-text{
  color: red;
  font-size: 0.7rem;
  padding-left: 10px;
}

.success-message{
  color: green;
  font-size: 0.7rem;
  padding-left: 10px;
}

.x-logo{
  width: 15px;
  height: 15px;
  padding-left: 10px;
}

.footer-text{
  color: white;
  font-size: 0.8rem;
  padding-left: 3px;
}

.acc-text{
  color: #ff6600;
  font-size: 0.7rem;
}

.header{
  font-size: 2rem;
}

.sub-text{
  font-size: 1.2rem;
  align-items: top;
  margin-top: -50px;
}

.sub-text2{
  font-size: 1.2rem;
}

.explain-text{
  font-size: 0.6rem;
  color: #808080;
  display: flex;
  justify-content: center;
  align-items: top;
  width: 60%;
  text-align: center;
  padding-bottom: 10px;
}

.bal-text{
  color: white;
  font-size: 1.0rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
